.containerChatPage{
    background-color:whitesmoke;
    display: grid;
    grid-template-columns:0.1fr 1fr;
    grid-template-rows: 100vh;
}

.containerChatPage--nav{
    border: 1px solid black;
}

.containerChatPage--chat{
    display: grid;
    place-items: center;
}

.chat--container{
    width: 90%;
    height: 70%;
    border: 0.8px solid black;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.chat--conversations{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color:#11547b58;
    border-right: 0.8px solid #11547b58;
}

.line-button{
    border-bottom: 1px solid black;
}
.conversation--div{
   display: flex;
   align-items: baseline;
   border-bottom: 0.8px solid black;
   
}

.conversation--div:hover{
    cursor: pointer;
    background-color:  #72aed1a5;
    border-bottom: 0.8px solid rgb(71, 70, 70);
 }

.div--img{
    width: 60px;
    margin-right: 15px;
    padding: 5px 10px;
}

.div--img > img{
    width: 100%;
}

.div--name{
    padding:5px 10px;
}

.activeChat{
    background-color:  #72aed1a5;
}

.chat--screen{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;
}

.chat--currentChat{
    border: 0.8px solid rgb(0, 0, 0);
}

.chat--display{
}

.chat--input{
    border: 0.8px solid black;
    display: flex;
}

.chat--input input{
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}
