.filteredContainer{
    padding: 50px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
}

.filteredContaine-cardr{
    margin: 10px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.20);
}

.filteredContaine-cardr:hover{
    cursor: pointer;
    
}

.filteredContaine-cardr button:hover{
    cursor: pointer;
    transform: scale(0.9)

}