.containerHome{
    display: grid;
    grid-template-rows: 1fr, 0.8fr 0.8fr;
}

.searchContainer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.75);
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.form-group input{
   width: 300px;
}

.searchContainer button{
  width: 300px;
}

.ultimasAñadidasCont{
    display: flex;
    flex-direction: column;
 padding: 30px;
}

.ultimasAñadidasCont h4{
 margin: 20px;
}

.ultimasAñadidasCont-caja{display: flex;}

.ultimasAñadidas-card{
    margin: 10px;
    max-width: 400px;
    padding: 20px;
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.20);
}

.ultimasAñadidas-card:hover{
    cursor: pointer;
    transform: scale(0.9)
}