.newActivityContainer{
    padding: 20px;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
}

.newActivityContainer-preview{
    display: flex;
    flex-direction:column;
    padding: 50px;
}
.newActivityContainer-preview_row{
    display: flex;
    justify-content: space-between;
    
}
.newActivityContainer-preview_row_colRigth2{
    display: flex;
    overflow: hidden;
}

.newActivityContainer-preview_row_colRigth2 img{
    width: 100%;
    border: 1px solid black;
}

.newActivityContainer-preview_row2{
    align-self: flex-start;
}
.newActivityContainer-preview__row_colLeft_icon{
    padding: 10px;
    display: flex;
    align-items: baseline;
}

.newActivityContainer-preview__row_colLeft_desc{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.newActivityContainer-preview__row_colLeft_desc span{
    font-weight: bold;
    margin-left: 10px;
}

.newActivityContainer-preview__row_colLeft_icon p{
    margin-left: 10px;
}


.newActivityContainer-preview_row2{
    text-align: start;
    overflow: hidde;
}

.newActivityContainer-preview_row2 p{
    max-width: 700px;
}
.especial{
    overflow: hidden !important;
    display: flex;

}

.newActivityContainer-form{
    display: flex;
    flex-wrap: wrap;

}