.userDashboardCont{
    display: grid;
    grid-template-rows: 1.2fr 0.8fr;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-areas: "enrolledAct actDetail"
                        "myActivities displayComent";
}

.userDashboardCont-enrodlledAct{
    grid-area: enrolledAct;
    border: 1px solid black;
}

.userDashboardCont-enrodlledAct_li{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

handleClick

.userDashboardCont-actDetail{
    grid-area: actDetail;
    border: 1px solid black;
}

.userDashboardCont-miActivities{
    grid-area: myActivities;
    border: 1px solid black;
}

.userDashboardCont-showComent{
    grid-area: displayComent;
    border: 1px solid black;
}