
.mainContainer--glassBox--loginForm_link{
    line-height: 2em;
    margin-bottom: 20px;
    text-decoration: none;
    color: rgba(245, 245, 245, 0.887);
}

.mainContainer--glassBox--loginForm_link:hover{
    color: rgba(255, 255, 255, 0.672);
}


.mainContainer--glassBox--loginForm{
    padding:0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.mainContainer--glassBox--loginForm_error{
    font-size: 0.8em;
    font-style: italic;
    color: rgba(253, 29, 29, 0.742);
    max-width: 300px;

}

.mainContainer--glassBox--loginForm h2{
    color: rgba(245, 245, 245, 0.887);
    font-size: 2em;
    padding: 20px;
}

.mainContainer--glassBox--loginForm_signLink span{
    color: rgba(255, 255, 255, 0.672); 
    text-decoration: underline;
    padding-left: 10px;
}

.mainContainer--glassBox--loginForm_signLink span:hover{
    color: rgba(255, 255, 255, 0.48); 
    text-decoration: underline;
    cursor: pointer;
    
}

input
{
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}

input:focus{
    color:rgba(245, 245, 245, 0.628);
    outline: none;
    border-bottom: 1px solid;
    border-image: linear-gradient(45deg, purple, orange) 1;
    background-color: transparent;
}

input::placeholder{
    color: rgba(245, 245, 245, 0.503);
}
input:focus::placeholder {
    color: transparent;
}



.mainContainer--glassBox--loginForm_btn{
    
    color: rgba(255, 255, 255, 0.672);;
    margin: 20px 0;
    width: 220px;
    padding: 10px 50px;
    background-color:transparent;
    border-radius: 50px;
    
}



.mainContainer--glassBox--loginForm_btn:hover{
    cursor: pointer;
    transform: scale(0.9);
   
}


@media (max-width: 360px){
    .mainContainer--nabBar{
        font-size:0.8em ;
        justify-content:center;
        align-items:center;
    }

    .mainContainer--glassBox{
        overflow: hidden;
        font-size: 0.9em;
        width: 300px;
    }
    .mainContainer--glassBox--loginForm{
        padding: 20px 0;
    }
    .mainContainer--glassBox--loginForm input{
        width: 250px;
    }

    .mainContainer--glassBox--loginForm h2{
     
        font-size: 1.6em;
    }

    .responsiveBtn{
        width: 200px;
    }
}

