

.homeContainer{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: #e9ecef;
    grid-template-columns: repeat(2, auto);
    
}
.homeContainer h2{
    font-size: 2em;
}

.homeContainer-sectionsGroup{
    grid-template-rows: repeat(3, 1fr);
    overflow-y: hidden;
}


.homeContainer-section{
   padding: 20px 20px 50px 20px;
   overflow-y: hidden;
}

.cityBackground{
    background-image: url("../../media/cityBackground.jpeg");
    background-position: center;
    background-size: cover;
}

.homeContainer-section h2{
    margin: 25px 0;
    font-style: italic;
    font-weight: 300;
 }

.whiteColor{
    color: #fff;
}

.grey{
    font-weight: bold;
    color: grey;
}



.homeContainer-searchArticle,
.homeContainer-lastAddedArticle,
.homeContainer-lastComented{
    display: flex;
   
}

.homeContainer-lastAddedArticle,
.homeContainer-lastComented{
    flex-wrap: wrap;
    margin-left: 50px;
   
}

.homeContainer-searchArticle{
    margin: 20px auto;
    width: 650px;
    padding: 20px;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.883);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.homeContainer-form{
    display: grid;
    grid-template-columns:1fr 0.5fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "label input"
    "buton buton"
    ;
}

.homeContainer-label{
    grid-area: label;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.homeContainer-input{
    color: black;
    grid-area: input;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;  
}

.homeContainer-input input:focus{
    color: black;
}

.homeContainer-btn{
    grid-area: buton;
    margin: 0 auto;
    margin: 20px 0;
    justify-content: center;
}

.homeContainer-btn button{
    width: 50%;
    border-radius: 50px;
}

.homeContainer-formGroup{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.homeContainer-formGroup input{
    width: 300px;
 }


.homeContainer-card:hover{
    cursor: pointer;
    transform: scale(0.9)
}

.blackBacground{
    background-image: url('../../media/blackBackground.jpeg');
    background-position: center;
    background-size: cover;
}

.noHover:hover{
    cursor: auto;
    transform: scale(1)
}

/******************************* Las Activity Card ***********************************/

.homeContainer-lastAddedCard{
    overflow: hidden;
    margin: 0 10px;
    position: relative;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.419);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.white{
    background-color: rgb(255, 255, 255);
}

.homeContainer-lastAddedCard h3{
    text-align: left;
    font-weight: bold;
    color: white;
    margin: 15px;
    background-color: rgba(0, 0, 0, 0.225);
    position: absolute;
    top: 0;
}

.lastAddedCard-imgContainer{
  
    width: 100%;
    height: 300px;
    border: solid 1px black;
}

.lastAddedCard-img{
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.lastAddedCard-icons{
    display: flex;
}

.lastAddedCard-info{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}


.homeContainer-lastAddedCard:hover .lastAddedCard-info{
    opacity: 1;
}

.homeContainer-lastAddedCard:hover .lastAddedCard-imgContainer{
    opacity: 0.3;
}

.homeContainer-lastAddedCard:hover .lastAddedCard-img{
    transition: 1s;
    transform: scale(1.5);
}

.homeContainer-lastAddedCard:hover h3{
    opacity: 0;
}

.lastAddedCard-icons{
    align-self: flex-start;
}

.lastAddedCard-icons p{
    margin: 0 10px;
}

.lastAddedCard-info button{
   
    margin: 20px 0 ;
    width: 30%;
    border-radius: 50px;
}


@media (max-width: 360px){
 

}



